* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth; 
    background-color: rgb(195, 185, 183);
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 20px;
  }

  .header {
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav {
    width: 800px;
  }

  .header-color {
    background-color: rgb(236, 211, 204);
    width: 770px;
    margin: 0 0 20px 0;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .nav-link {
    padding: 0 14px;
    line-height: 20px;
    text-decoration: none;
  }

  .img {
    width: 200px;
    height: 200px;
    margin: 15px 40px;
    float: left;
  }
  
  .title {
    margin: 90px 0 0 400px;
    color: rgb(102, 92, 80);
    font-weight: 1000;
  }

  .subtitle {
    padding: 0;
    margin: 0 0 0 400px;
  }

  .main {
    display: flex;
    flex-direction: row;
  }

  #main-color {
    background-color: rgb(105, 92, 84);
  }

  .text {
    width: 400px;
    padding: 40px;
  }

  .footer {
    flex: none;
  }



